#board {
  max-width: 70vh;
  max-height: 70vh;
  /* width: 50vw; */
  height: 50vw;
  margin: auto;
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
};

div#wrapper {
  display: none;
  align-items: center;
  justify-content: center
}

.slider-wrapper {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}