div.alive {
  background-color: green;
  height: 100%;
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 50%;
}

div.dead {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 50%;
}
